@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
:root {
  --primary: 246, 102, 0;
  --secondary: 244, 150, 32;
  --dark: 25, 25, 25;
  --black: 0, 0, 0;
  --grey: 32, 32, 36;
  --light: 227, 227, 227;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: rgb(var(--light));
  font-weight: 200;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(var(--dark));
  scroll-behavior: smooth;
}

.index-section {
  margin: 0;
  background-image: url("./assests/main.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  box-shadow: inset 0px -100vh rgba(var(--black), 0.4),
    inset 0px -20vh 100px 10px rgba(var(--black), 0.5);
}
.index-section > h1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-shadow: 0px 0px 10px rgba(var(--primary), 1);
}
.index-section > h5 {
  font-weight: 500;
  font-size: 1.5rem;
  font-family: monospace;
}
.index-section .discover-btn {
  background-color: transparent;
  border: 1px solid rgb(var(--primary));
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s ease;
}
.discover-btn:hover {
  border: 1px solid rgb(var(--light));
}

.discover-btn:before {
  content: "";
  z-index: -1;
  transition: 0.3s ease;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    rgb(var(--primary)) var(--grad-percent),
    rgb(var(--secondary))
  );
  transform: scaleX(0);
}

.index-section .discover-btn:hover::before {
  transform: scaleX(1);
}

.intro-section {
  margin: 0.5rem;
  text-align: center;
}
.intro-section > h1 {
  font-family: "Ubuntu", sans-serif;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title > h1 {
  font-size: 3rem;
  transition: 0.3s ease;
}

.section-title > h1:hover {
  text-shadow: 0 0 20px rgba(var(--primary), 0.6);
}

.section-title > h1 {
  position: relative;
}
.section-title > h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3px;
  background-image: linear-gradient(
    -90deg,
    rgb(var(--primary)),
    rgb(var(--secondary))
  );
}

.cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.card-wrapper {
  padding: 1rem;
  box-shadow: 5px 5px 5px rgba(var(--black), 0.4),
    -5px -5px 5px rgba(var(--light), 0.1),
    inset 5px 5px 5px rgba(var(--black), 0.4),
    inset -5px -5px 5px rgba(var(--light), 0.1);
  font-size: 1rem;
  border-radius: 10px;
}

.card {
  width: 300px;
  max-width: 80vw;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  backdrop-filter: blur(50px);
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(var(--black), 0.4),
    -3px -3px 3px rgba(var(--light), 0.1),
    inset 3px 3px 3px rgba(var(--light), 0.1),
    inset -3px -3px 3px rgba(var(--black), 0.4);
  transition: 0.3s ease;
  overflow: hidden;
  transform: translateY(0%);
}
.card::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  left: -20%;
  z-index: -1;
  background-image: linear-gradient(
    -90deg,
    rgba(var(--primary), 0.5),
    rgba(var(--primary), 0)
  );
  opacity: 0.1;
  transform: skew(-25deg);
  transition: 0.3s ease;
}
.card::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  border-radius: 10px;
  border: 1px solid rgba(var(--primary), 0.1);
  transition: 0.3s ease;
}
.card:hover::after {
  border: 1px solid rgba(var(--primary), 0.4);
}
.card .number {
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 3rem;
  color: rgba(var(--light), 0.1);
  transition: 0.3s ease;
}
.card:hover .number {
  color: rgba(var(--light), 0.6);
  text-shadow: 0px 0px 10px rgba(var(--light), 0.4);
}
.card-title {
  font-size: 1.7rem;
  transition: 0.3s ease;
}
.card:hover {
  transform: translateY(-10%);
}
@keyframes cardtransition {
  0% {
    transform: translateX(0) skew(-25deg);
  }
  100% {
    transform: translateX(180%) skew(-25deg);
  }
}
.card:hover::before {
  animation-name: cardtransition;
  animation-duration: 0.3s;
  transform: translateX(-300%) skew(-25deg);
}
.card:hover .card-title {
  color: rgb(var(--primary));
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.owner-wrapper {
  width: 80vw;
  height: 300px;
  /* width: 400px; */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  background-color: rgb(var(--grey));
  overflow: hidden;
  position: relative;
  transition: 0.3s ease;
  box-shadow: 3px 3px 3px rgba(var(--black), 0.4),
    -3px -3px 3px rgba(var(--light), 0.1),
    inset 3px 3px 3px rgba(var(--light), 0.1),
    inset -3px -3px 3px rgba(var(--black), 0.4);
}

/* .owner-wrapper::before {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border-radius: 10px;
  /* border: 2px solid rgba(var(--primary), 0.2); */
/* transition: 0.3s ease; */
/* } */
.owner-wrapper:hover::before {
  /* border: 2px solid rgba(var(--primary), 0.8); */
}

.owner-wrapper:hover {
  box-shadow: 3px 3px 3px rgba(var(--black), 0.4),
    -3px -3px 3px rgba(var(--light), 0.1),
    inset 3px 3px 3px rgba(var(--light), 0.1),
    inset -3px -3px 3px rgba(var(--black), 0.4),
    0 0 30px 10px rgba(var(--primary), 0.2);
}

.owner-img-wrapper {
  overflow: hidden;
}
.owner-img-wrapper:nth-child(1) .owner-img {
	background-image: url("./assests/mhmdissa.jpeg");
}

.owner-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px -100px 50px rgba(var(--dark), 0.5);
}

.owner-intro {
  padding: 1rem;
}

.owner-name,
.owner-name a {
  color: rgb(var(--primary));
}
.owner-name a {
  position: relative;
  z-index: 200;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

.footer .footer-title,
.footer .contact-title {
  text-align: center;
  margin: 1rem;
  font-size: 2.5rem;
  position: relative;
}

.footer .contact-title {
  font-size: 2rem;
}

.footer .footer-title::before,
.footer .contact-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 5px;
  background-image: linear-gradient(
    -90deg,
    rgb(var(--primary)),
    rgb(var(--secondary))
  );
}

.footer .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
}

.footer ul {
  margin-left: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  position: relative;
}

.footer li {
  list-style-type: none;
  position: relative;
}

.footer .sm {
  position: relative;
  text-decoration: none;
}

.footer .sm::before {
  position: absolute;
  content: attr(data-text);
  color: rgb(var(--color));
  overflow: hidden;
  width: 0%;
  transition: 0.5s ease;
  border-right: 0px solid rgb(var(--color));
}

.footer .sm:hover::before {
  width: 100%;
  text-shadow: 0 0 10px rgba(var(--color), 0.6);
  border-right-width: 2px;
}

@media screen and (min-width: 600px) {
  .owner-img-wrapper {
    height: 100%;
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .owner-wrapper {
    flex-direction: column;
    min-height: 700px;
    width: 80vw;
  }
  .owner-img-wrapper {
    height: 500px;
    width: 100%;
    background-color: green;
  }
  .owner-img {
    width: 100%;
    height: 100%;
  }
}
